# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Logs
logs/
*.log
debug.log

# Cache & Output files
build/
*.cache
.vscode/
.DS_Store

# Vercel deployment files
.vercel/